<br>
<h4 class="text-center">La liste des Instances de processus <b>{{this.process.name}}</b></h4>

<table class="table table-striped">
    <thead>
        <tr>

            <th> Id Instance </th>
            <th> Date Début </th>
            <th> Etat </th>
            <th> Actions </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let i of range">

            <td>{{ch[i]}}</td>
            <td >{{date[i]}}</td>
            <td><b >{{state1[i]}}</b></td>
            <td>
                <button title="Liste des taches" [hidden]="state1[i]!='ACTIVE'" style="margin-left:10px ;" (click)="goToTaskList(ch[i])"
                    class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                      </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>