<style>
    .navbar-nav {
        margin-left: auto;
    }
</style>
<nav [hidden]="!vb" class="navbar navbar-expand-md bg-dark navbar-dark" >
    <a class="navbar-brand" href="">
        <img src="assets\download.png"  style="width:40px;">
        <label style="color: orange ;">Xtensus</label>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="processes" routerLinkActive="active" class="nav-link">Consulter Worflow</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-workflow" routerLinkActive="active" class="nav-link">Ajouter Worflow</a>
        </li>
        <li class="nav-item">
            <a href="http://localhost:4200/api/" class="nav-link">creer un processus</a>
        </li>
        
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a  (click)="logout()"   class="nav-link" href="" data-target="#myModal" data-toggle="modal">Déconnecter</a>
        </li>
    </ul>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>Tous les droits sont réservés 2022 @Xtensus</span>
    </div>
</footer>